@import "tailwindcss";
@plugin "daisyui";

body {
  overflow-x: hidden;
}

.loginTitle {
  color: rgb(0, 0, 0);
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  max-width: 360px;
  margin-bottom: 8px;
  position: relative;
  left: 15rem;
  top: 8rem;
}

.loginDesc {
  font-size: 15;
  color: rgb(0, 0, 0);
  position: relative;
  left: 15rem;
  top: 8rem;
}

.header {
  margin-left: 1rem;
}

.allForm {
  position: relative;
  left: 15rem;
  top: 8rem;
}

.nameInp {
  width: 320px;
  height: 35px;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
  font-size: 15px;
  color: rgb(0, 0, 0);
  margin-bottom: 1.5rem;
  padding: 1rem 1rem;
}

.emailInp {
  width: 320px;
  height: 35px;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
  color: rgb(0, 0, 0);
  font-size: 15px;
  margin-bottom: 1.5rem;
  padding: 1rem 1rem;
}

.passwordInp {
  width: 320px;
  height: 35px;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
  font-size: 15px;
  color: rgb(0, 0, 0);
  margin-bottom: 1.5rem;
  padding: 1rem 1rem;
}

.loginBtn {
  width: 320px;
  height: 35px;
  background-color: #7c3aed;
  color: #ffffff;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 30px;
  border: none;
  cursor: pointer;
}

.loginText {
  font-size: 14px;
  color: 6B7280;
  position: relative;
  left: 15rem;
  top: 8rem;
  margin-top: 0.3rem;
}

.linkLog {
  color: #7c3aed;
  text-decoration: none;
  margin-left: 0.5rem;
}

.regImg {
  width: 38rem;
  height: 42rem;
  position: relative;
  left: 57rem;
  bottom: 27.5rem;
  border-radius: 15px;
}

.logImg {
  width: 38rem;
  height: 42rem;
  position: relative;
  left: 56rem;
  bottom: 23.6rem;
  border-radius: 15px;
}

.nameErr {
  position: relative;
  left: 15rem;
  bottom: 8rem;
}

.emailErr {
  position: relative;
  left: 15rem;
  bottom: 3rem;
}

.passwordErr {
  position: relative;
  left: 15rem;
  top: 2rem;
}

.emailErrLog {
  position: relative;
  left: 15rem;
  bottom: 4.5rem;
}

.passwordErrLog {
  position: relative;
  left: 15rem;
  top: 0.8rem;
}

.forgotPassLog {
  border: none;
  cursor: pointer;
  position: relative;
  top: 8.5rem;
  left: 15rem;
}

.customCont {
  align-items: center;
  gap: 10px;
  margin-top: 2rem;
}

.userOnOf.online {
  border-radius: 50%;
  color: green;
}

.inlineUsers {
  display: flex;
  justify-content: end;
  margin-right: 2rem;
  margin-top: -2rem;
}

.logoutBtn {
  margin-left: 89rem;
  margin-top: 0.5rem;
}

.usersData {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 2rem;
  margin-top: 0.5rem;
  gap: 10px;
}

.usersPhoto {
  flex-shrink: 0;
  border-radius: 50%;
}

.usersName {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
}

.userOnOf {
  margin-left: 8px;
}

.title {
  font-weight: bold;
}

.selectUsers {
  width: 28rem;
}

.tasks__list {
  position: relative;
  bottom: 21rem;
  left: 1rem;
}

input {
  outline: none;
}

.task {
  background: url("/images/chatbackground.jpg") no-repeat center center fixed;
  background-size: cover;
  object-fit: cover;
}

.usersChat {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 8px;
}

.userImg {
  object-fit: cover;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.commentDisplayName {
  font-weight: 600;
  color: #374151;
}

.commentText {
  color: #111827;
}

.taskTitle {
  font-weight: bold;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.commentInput {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  margin-left: 3rem;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px 15px;
  width: 70%;
  color: #111827;
  position: relative;
  bottom: 2rem;
}

.publicChat {
  margin-left: 2rem;
}

.sendBtn {
  border: none;
  background-color: transparent;
  position: relative;
  box-shadow: none;
  right: 3rem;
  bottom: 1.3rem;
}

.userPhoto {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;
  top: 2.3rem;
  left: 0.5rem;
  cursor: pointer;
}

.otherUser {
  cursor: pointer;
}
