body {
  overflow: hidden;
}

.loginTitle {
  color: #111827;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  max-width: 360px;
  margin-bottom: 8px;
  position: relative;
  left: 15rem;
  top: 8rem;
}

.loginDesc {
  font-size: 15;
  color: #6b7280;
  position: relative;
  left: 15rem;
  top: 8rem;
}

.allForm {
  position: relative;
  left: 15rem;
  top: 8rem;
}

.emailInp {
  width: 320px;
  height: 35px;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
  font-size: 15px;
  color: #111827;
}

.passwordInp {
  width: 320px;
  height: 35px;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
  font-size: 15px;
  color: #111827;
}

.loginBtn {
  width: 320px;
  height: 35px;
  background-color: #7c3aed;
  color: #ffffff;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 24px;
  border: none;
}

.loginText {
  font-size: 14px;
  color: 6B7280;
  position: relative;
  left: 15rem;
  top: 8rem;
}

.linkLog {
  color: #7c3aed;
  text-decoration: none;
}

.mainImg {
  width: 38rem;
  height: 42rem;
  position: relative;
  left: 55.5rem;
  bottom: 22.8rem;
  border-radius: 15px;
}
